@import './fonts';

body{
    height: 100%;
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 400;
    background-color: #eeeeee;
}

.container{
    background-color: #eeeeee;
    display:grid;
    grid-template-rows: 70px auto 70px;
    height:100vh;
}

@import './dashHeader';


@import './footer';