@import './fonts';

body{
    height: 100%;
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 400;
    background-color: #eeeeee;
}

.container{
    background-color: #eeeeee;
    display:grid;
    grid-template-rows: 70px auto 70px;
    height:100vh;
}

@import './dashHeader';

@import './dashContent';

@import './footer';

#hamburger{
    display:none;
}
@media all and (max-width: 768px) {
  #hamburger {
    display: block;
    padding-right: 10px;
  }

  .menu-1 {
    display: none;
  }

  #bell {
    margin-left: auto;
  }

  .menu-2 {
    padding: 20px;
    padding-right: 10px;
  }
}
