body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #f0f2f5;
}
.tweet-stats{
    display:flex;
    gap:25px;
    align-items: center;
    margin-top: 0;
}
.icon{
    display:flex;
    align-items:center;
    gap:12px;
}
.tweet-acc{
    display:flex;
    gap: 20px;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    padding: 8px;
}
.username{
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 3px;
}
.bio{
    font-size:20px;
    margin-top: 6px;
    margin-bottom: 4px;
}