.wrapper{
    flex:1;
    overflow:scroll;
    position: relative;

    #myCanvas{
        position: sticky;
        top:0;
        left:0;
        z-index: 10;
    }

    .scroller{
        position: absolute;
        top: 0;
        left: 0;
        width: 4000000px; /* cellWidth * totalCols */
        height: 3000000px; /* cellHeight * totalRows */
        z-index: 1;
    }

}
    
